{% extends 'anuncios/base.html' %}
{% block content %}
<h1 class="text-center text-primary">Cadastrar Novo Carro</h1>
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ carro_form.as_p }}
        <div class="mb-3">
            <label for="id_imagens" class="form-label">Imagens adicionais do carro</label>
            <input type="file" name="imagens" id="id_imagens" class="form-control" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}
